* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1199px;
  margin: auto;
}
/* start header  */
header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
header .header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  display: flex;
  align-items: center;
}
header .header__content ul {
  display: flex;
  margin-right: 30px;
}
header .header__content li {
  padding: 55px 15px;
}
.header__content li a {
  font-size: 15px;
  color: #070120;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.3s;
}
.header__content li span {
  display: inline-block;
}
.header__content li i {
  font-size: 9px;
  vertical-align: middle;
  margin-top: -3px;
}
.btn {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid transparent;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  transition: 0.5s;
  cursor: pointer;
}
.header__content a:hover {
  color: #f55f8d;
}
.header__content a:hover span {
  animation: upToDown 0.3s;
  /* animation-duration: ; */
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

.btn:hover {
  background-position: right center;
}
/* end header  */

/* start carousel  */
.carousel {
  padding-top: 180px;
  position: relative;
  background: url(./Samar-img/pic2.png);
  background-position: top center;
  background-size: 100%;
  overflow: hidden;
}
.carousel__content {
  width: 100%;
  display: flex;
  align-items: center;
}
.left__carousel {
  width: 60%;
  line-height: 1.6;
}
.style_p {
  font-size: 22px;
  font-weight: 600;
  color: #f55f8d;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.style_h2 {
  font-size: 70px;
  font-weight: 600;
  line-height: 1.1;
  text-transform: capitalize;
  margin-bottom: 20px;
}
/* .left__carousel .title__carousel p{
    font-size: 22px;font-weight: 600;color: #F55F8D;
    text-transform: capitalize;
    margin-bottom: 20px; */
/* } */
/* .left__carousel .title__carousel h2{
    font-size: 70px;font-weight: 700;
    line-height: 1.1;
    text-transform:capitalize;
    margin-bottom: 20px;
} */
.left__carousel .list__carousel p {
  font-size: 18px;
  color: #636363;
  margin-bottom: 15px;
}
.left__carousel .list__carousel li {
  margin-bottom: 15px;
}
.left__carousel .list__carousel i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: transparent;
  text-align: center;
  line-height: 35px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
  font-size: 24px;
  color: white;
}
.left__carousel .list__carousel span {
  font-size: 20px;
  color: #636363;
}
.right__carousel {
  width: 40%;
}
.right__carousel .banner__carousel {
  width: 570px;
  margin-left: 50px;
}
.right__carousel img {
  width: 100%;
  display: block;
}
/* end carousel  */
/* start services  */
.services {
  padding-top: 115px;
  background: url(./Samar-img/bg2.png);
  background-size: cover;
  background-position: top center;
}
.services .services__content {
  width: 100%;
  text-align: center;
}
.services .services__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.services .services__item {
  padding: 30px 45px;
  text-align: center;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 0px 60px 0 rgb(0 0 0 / 10%);
  transition: 0.5s;
}
.services__item img {
  width: 215px;
}
.services__item h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 15px 0px;
}
.services__item p {
  font-size: 16px;
  color: #636363;
  line-height: 1.6;
}
.services .services__item:hover {
  transform: translateY(-15px);
}
/* end services  */
/* start aboutUs  */
.aboutUs {
  width: 100%;
  background: url(./Samar-img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  margin-top: 115px;
  padding-bottom: 85px;
  overflow: hidden;
}
.aboutUs_content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.left__aboutUs {
  position: absolute;
  width: 60%;
  left: -17%;
  padding: 80px 0px 0 0;
  animation-duration: 2s;
}
.left__aboutUs img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.right__aboutUs {
  width: 50%;
  animation-duration: 2s;
}
.right__aboutUs .list__aboutUs {
  margin-bottom: 20px;
}
.right__aboutUs .list__aboutUs p {
  font-size: 16px;
  color: #636363;
  line-height: 1.6;
  margin-bottom: 15px;
}
.right__aboutUs .list__aboutUs span {
  font-size: 16px;
  color: #636363;
}
.right__aboutUs .list__aboutUs i {
  width: 30px;
  height: 30px;
  border: 2px solid #f55f8d;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  font-size: 20px;
  color: #f55f8d;
  margin-right: 10px;
}
.right__aboutUs .list__aboutUs li {
  margin-bottom: 10px;
}
.right__aboutUs button {
  margin-top: 10px;
}

/* end aboutUs  */
/* start number  */
.number {
  width: 100%;
  background-image: url(./Samar-img/bg14.png);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.number .number_content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 80px 0 50px 0;
}
.number_content .item__number {
  width: 100%;
  text-align: center;
}
.item__number i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 45px;
  display: inline-block;
  line-height: 80px;
  color: white;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  margin-bottom: 15px;
}
.item__number span {
  font-size: 65px;
  color: #f55f8d;
  font-weight: 600;
  text-transform: uppercase;
}
.item__number p {
  text-transform: capitalize;
  font-size: 18px;
}
/* end number  */
/* start features  */
.features {
  padding-top: 115px;
  background-image: url(./Samar-img/bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  overflow: hidden;
}
.features .features_content {
  width: 100%;
  display: flex;
}
.features_content .left__features {
  width: 50%;
}
.features_content .right__features {
  width: 50%;
}
.features .border_featuresItem {
  padding-right: 50px;
  margin-bottom: 25px;
}
.features_item {
  display: flex;
  align-items: center;
  padding: 0 25px;
  line-height: 1.6;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 60px 0 rgb(0 0 0 / 10%);
  position: relative;
}
.features_item::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}
.features_item:hover::after {
  opacity: 1;
}
.features_item:hover i,
.features_item:hover h3,
.features_item:hover p {
  color: white;
}
.features_item div {
  padding-left: 25px;
  z-index: 1;
}
.features_item i {
  font-size: 80px;
  color: #f55f8d;
  transition: 1s;
  z-index: 1;
}
.features_item h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  transition: 1s;
}
.features_item p {
  font-size: 16px;
  color: #636363;
  transition: 1s;
}
.features .border_featuresItem:nth-of-type(2) {
  padding: 0 0 0 50px;
}
.right__features img {
  width: 100%;
  animation: move2 5s infinite;
}
@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* end features  */
/* start portfolio  */
.portfolio .portfolio_content {
  width: 100%;
  padding-top: 115px;
  text-align: center;
}
.portfolio .list__portfolio {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.list__portfolio .item__portfolio {
  position: relative;
  animation-duration: 1s;
}
.list__portfolio .item1__portfolio {
  grid-column: 1/3;
  position: relative;
  animation-duration: 1s;
}
.list__portfolio .item6__portfolio {
  grid-column: 3/4;
  grid-row: 2/4;
  position: relative;
  animation-duration: 1s;
}
.portfolio a {
  cursor: pointer;
}
.portfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio .overlay_item {
  width: 100%;
  height: 100%;
  background: rgba(7, 1, 32, 0.2);
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  transition: 0.5s;
  overflow: hidden;
  opacity: 0;
}
.portfolio .overlay_item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.5s;
}
.portfolio .icon_item {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  transition: 0.5s;
}
.icon_item a {
  color: white;
}
.portfolio .note_item {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 25px;
  color: white;
  text-transform: capitalize;
  transition: 0.5s;
}
.note_item p:first-of-type {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 10px;
}
.portfolio .overlay_item:hover {
  opacity: 1;
}
.portfolio .overlay_item:hover .icon_item {
  transform: translate(-20px, 20px);
}
.portfolio .overlay_item:hover .note_item {
  transform: translateY(-30px);
}
.portfolio .overlay_item:hover::before {
  left: 125%;
}
/* end portfolio  */
/* start plan  */
.plan {
  padding-top: 115px;
  background-image: url(./Samar-img/bg16.png);
  background-position: center top;
  background-repeat: no-repeat;
}
.plan .plan_content {
  width: 100%;
  text-align: center;
}
.plan .plan_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;
}
.plan .plan_item {
  width: 100%;
  text-align: center;
  padding: 35px 60px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  background: white;
  box-shadow: 0px 0px 50px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  border: 3px solid transparent;
  border-image: 100 round;
  transition: 0.5s;
}
.plan_item h3 {
  font-size: 30px;
}
.plan_item img {
  width: 125px;
  margin: 10px 0;
}
.plan_item span:first-of-type {
  font-size: 50px;
  color: #f8ae56;
}
.plan .list_item__plan {
  text-align: left;
  border-top: 1px solid #e1e1f0;
}
.list_item__plan ul {
  padding: 15px 0;
}
.list_item__plan li {
  padding: 5px 0;
}
.plan .list_item__plan i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  color: #f55f8d;
  background: #feeff3;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  margin-right: 15px;
}
.plan .list_item__plan span {
  font-size: 20px;
  font-weight: 400;
  color: black;
}
.list_item__plan div {
  text-align: center;
}
.plan .plan_item:hover {
  border-image: url(./Samar-img/br.png) 1 round;
}
/* end plan  */
/* start testimonial  */
.testimonial {
  padding-top: 115px;
  background-image: url(./Samar-img/bg17.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.title__testimonial {
  width: 100%;
  text-align: center;
}
.content__testimonial {
  width: 100%;
  margin: auto;
  padding: 30px 0 0;
  text-align: center;
  overflow: hidden;
}
.testimonial-thumbs {
  width: 300px;
  height: 170px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
  opacity: 1;
}
.testimonial-thumbs .swiper-wrapper {
  display: flex;
}
.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background: #f55f8d;
}
.swiper-slide-thumb-active .testimonial-pic::after,.swiper-slide-thumb-active .testimonial-pic::before{
  opacity: 1;
}
.swiper-slide-thumb-active .testimonial-pic .shape{
  opacity: 1;
}
.testimonial-pic::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  background: #f55f8d;
  opacity: 0;
}
.testimonial-pic::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  background: #f55f8d;
  opacity: 0;
}
.testimonial-pic .shape{
  position: relative;
  width: 50px;
  height: 35px;
  background: #f55f8d;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
}
.testimonial-pic .shape::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-image: url(./Samar-img/pattern12.png);
  background-size: contain;
  background-position: bottom;
}
.testimonial-comment {
  width: 100%;
  min-height: 300px;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: 0.5s;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  line-height: 1.6;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.testimonial-text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.testimonial-text p:first-of-type {
  font-size: 22px;
  font-weight: 800;
  text-transform: capitalize;
  color: #070120;
}
.testimonial-text p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #f55f8d;
}
.testimonial-text p:nth-of-type(3) {
  padding: 20px 15px;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #636363;
}
:root {
  --swiper-theme-color: #f55f8d;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: auto;
}
/* end testimonial  */
/* start blog  */
.blog {
  padding-top: 115px;
  text-align: center;
}
.blog .blog_title {
  width: 100%;
}
.blog .blog_list {
  width: 100%;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* gap: 25px; */
}
.blog .blog_item {
  width: 100%;
  border-radius: 10px;
  background: #feeff3;
}
.blog_item img {
  width: 100%;
  border-radius: 10px;
}
.blog .blog_text {
  width: 100%;
  padding: 20px 15px;
  line-height: 1.4;
  text-align: left;
  position: relative;
  padding-bottom: 40px;
  border-bottom: 1px solid #e1e1f0;
}
.blog_text .blog_date {
  padding: 10px 15px;
  text-transform: uppercase;
  position: absolute;
  top: -30px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}
.blog .blog_text .blog_date p {
  color: white;
}
.blog .blog_text h3 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
}
.blog .blog_text p {
  font-size: 18px;
  color: #636363;
}
.blog .blog_comment {
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #636363;
}
.blog_comment p {
  margin-right: 20px;
}
.blog_comment i {
  font-size: 22px;
  color: #f55f8d;
  transform: translateY(2px);
}
#pink_type {
  color: #f55f8d;
}
/* end blog  */
/* start footer  */
footer {
  margin-top: 50px;
  background-color: black;
  background-image: url(./Samar-img/bg4.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
footer::before {
  content: "";
  background-image: url(./Samar-img/pattern2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.mail__footer {
  width: 100%;
  background: white;
  display: flex;
  padding: 50px 60px;
  background-image: url(./Samar-img/pattern3.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 0 rgb(0 0 0 / 10%);
  animation-duration: 2s;
}
.mail_text {
  width: 50%;
  font-size: 28px;
  text-transform: capitalize;
}
.mail_text h3 {
  font-weight: 500;
  font-size: 28px;
}
.mail_btn {
  width: 50%;
}
.mail_btn form {
  width: 100%;
  display: flex;
  border-radius: 10px;
  /* border: 1px solid transparent; */
}
.mail_btn input {
  width: 100%;
  padding: 20px;
  font-size: 15px;
  border-radius: 10px 0 0 10px;
  border: 1px solid transparent;
  transition: 0.5s;
}
.mail_btn button {
  font-size: 20px;
  padding: 20px 35px;
  border-radius: 0px 10px 10px 0px;
  border: transparent;
}
.mail_btn input:hover {
  border: 1px solid red;
}
.list__footer {
  width: 100%;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 50px;
}
.item__footer {
  color: white;
}
.item__footer li {
  display: flex;
  margin-top: 20px;
}
.item__footer li i {
  width: 40px;
  height: 40px;
  color: white;
  margin-right: 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
}
footer .contact__footer {
  align-items: center;
}
.item1__footer {
  width: 100%;
  font-size: 16px;
  text-transform: capitalize;
}
.item1__footer li {
  margin-bottom: 20px;
}
.item1__footer a:hover {
  color: white;
}
.item1__footer h3 {
  color: white;
  text-transform: capitalize;
  font-size: 24px;
  padding-bottom: 50px;
  position: relative;
}
.item1__footer h3::before {
  content: "";
  width: 15px;
  height: 4px;
  position: absolute;
  border-radius: 4px;
  bottom: 35px;
  left: 0;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}
.item1__footer h3::after {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  border-radius: 4px;
  bottom: 35px;
  left: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}
.item1__footer a {
  color: #636363;
  transition: 0.5s;
}
.item1__footer i {
  margin-right: 10px;
}
.copy_right {
  width: 100%;
  background: #1f343b;
  padding: 15px 0;
  color: white;
}
.copyRight_border {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.copyRight_border span {
  font-size: 16px;
  text-transform: capitalize;
}
.copyRight_icon {
  display: flex;
}
.copyRight_icon i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background: rgb(99, 99, 99, 0.3);
  transition: 0.5s;
}
.copyRight_icon a {
  color: white;
  margin-right: 5px;
}
.copyRight_icon a:hover i {
  background: #f55f8d;
}
/* end footer  */

/* back to top  */
